:global {
  .gola {
    position: relative;
    display: flex;
    flex-align-items: center;
    flex-justify-content: center;
  }

  .gola-file,
  .gola-image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 60px);
    cursor: pointer;
  }

  .gola-file {
    opacity: 0;
  }

  .gola-error {
    margin-bottom: 10px;
    font-size: 11px;
    color: red;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
  }

  .gola-upload-progress {
    background: green;
    width: 0;
    height: 3px;
    left: 0px;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
  }
}
