$n-bg-color: rgba(254, 247, 249, 0.8);
$n-border-color: rgba(222, 196, 196, 0.5);
$n-title-color: #555;
$n-body-color: #555;
$n-action-color: #555;

:global {
  .notiboi-root__container {
    z-index: 999;
    position: fixed;
    top: 20px;
    right: 30px;
    width: 400px;
    padding: 0;
    user-select: none;
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .notiboi__notification {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 40px 40px;
    grid-template-columns: 1fr 80px;
    grid-template-areas:
      'title close-action'
      'body primary-action';
    border-radius: 10px;
    width: 100%;
    padding: 0;
    border: 1px solid $n-border-color;
    background: $n-bg-color;
    margin: 5px auto;

    &.no-action {
      grid-template-areas: 'title close-action' 'title close-action';
    }
  }

  .notiboi__notification-success {
  }

  .notiboi__notification-info {
  }

  .notiboi__notification__title,
  .notiboi__notification__body {
    border-right: 1px solid $n-border-color;
    padding: 10px;
  }

  .notiboi__notification__title {
    grid-area: title;
    color: $n-title-color;
    font-weight: bold;
    padding-bottom: 0;
  }

  .notiboi__notification__body {
    grid-area: body;
    padding-top: 0;
    line-height: 1.3;
    font-size: 14px;
  }

  .notiboi__action {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: $n-action-color;
    font-size: 13px;

    &:hover {
      background: darken($n-bg-color, 10);
    }

    &:active {
      background: darken($n-bg-color, 20);
    }
  }

  .notiboi__action--close {
    border-top-right-radius: inherit;
    grid-area: close-action;
    border-bottom: 1px solid $n-border-color;

    &:hover {
      color: #b30000;
    }
  }

  .notiboi__action--primary {
    border-bottom-right-radius: inherit;
    grid-area: primary-action;
  }
}
