$color-loader: rgb(178, 8, 32);

:global {
  .full-page-spinner__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .full-page-spinner__sk-cube-grid {
    width: 70px;
    height: 70px;
    margin: 130px auto;
  }

  .full-page-spinner__sk-cube-grid .full-page-spinner__sk-cube {
    width: 33%;
    height: 33%;
    background-color: $color-loader;
    float: left;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .full-page-spinner__sk-cube-grid .full-page-spinner__sk-cube1 {
    animation-delay: 0.2s;
  }
  .full-page-spinner__sk-cube-grid .full-page-spinner__sk-cube2 {
    animation-delay: 0.3s;
  }
  .full-page-spinner__sk-cube-grid .full-page-spinner__sk-cube3 {
    animation-delay: 0.4s;
  }
  .full-page-spinner__sk-cube-grid .full-page-spinner__sk-cube4 {
    animation-delay: 0.1s;
  }
  .full-page-spinner__sk-cube-grid .full-page-spinner__sk-cube5 {
    animation-delay: 0.2s;
  }
  .full-page-spinner__sk-cube-grid .full-page-spinner__sk-cube6 {
    animation-delay: 0.3s;
  }
  .full-page-spinner__sk-cube-grid .full-page-spinner__sk-cube7 {
    animation-delay: 0s;
  }
  .full-page-spinner__sk-cube-grid .full-page-spinner__sk-cube8 {
    animation-delay: 0.1s;
  }
  .full-page-spinner__sk-cube-grid .full-page-spinner__sk-cube9 {
    animation-delay: 0.2s;
  }

  @keyframes :global(sk-cubeGridScaleDelay) {
    0%,
    70%,
    100% {
      transform: scale3D(1, 1, 1);
    }
    35% {
      transform: scale3D(0, 0, 1);
    }
  }
}
